<main class="chat-page">
	<div class="chat-page__left-column">
		<div class="sidebar__header">
			<span class="my-name">{{{userName}}} </span>
			<span>{{{addChatButton}}}{{{viewProfile}}} </span>
		</div>
		<form id="sidebar-search-user">
			{{{searchField}}}
		</form>
		{{{sidebar}}}
	</div>
	<div class="chat-page__right-column">
			<div class="header-field">
				{{#if chatName}}
					<div class="header-field__avatar avatar-letter">{{{avatarLetter}}}</div>
				{{/if}}
				<div class="header-field__name">{{{chatName}}}</div>
				<div class="header-field__actions">
					{{#each activeChatButtons }}
						{{{activeChatButtons}}}
					{{/each}}
				</div>
				<div class="users-field" id="user-field" style="display:none;">
					<span>Пользователи в чате: </span>
					{{#each userList}}
						{{{userList}}}
					{{/each}}
					<div class="users-field__users-search">
						<form class="users-search__controls" id="users-search-form">
								{{{searchForUserField}}} {{{searchForUserButton}}}
						</form>
						{{{foundUsersList}}}
					</div>
				</div>
			</div>
		{{{ activeChatWindow }}}
	</div>
	{{{addChatPopUp}}}
	{{{addUserToChatPopUp}}}
	{{{deleteChatPopUp}}}
</main>
