<div id="active-chat-window" class="chat-page__right-column">
	<div class="header-field">
<div class="header-field__avatar">{{#if avatarImg}}<img id="avatar" alt="avatar" class='avatar-active' src="{{avatarImg}}" />{{/if}}</div>
		<div class="header-field__name">{{{chatName}}}</div>
		<div class="header-field__actions">
			{{#each activeChatButtons }}
				{{{activeChatButtons}}}
			{{/each}}
		</div>
	</div>
	<div class="messages-field" id="messages-field">
		{{#each messageList}}
			{{{messageList}}}
		{{/each}}
	</div>
	<div class="typing-field">
		<p><img src="/images/skrepka.png" alt="Добавить вложение" /></p>
		<form action="#" id="send-message-form">
			{{{ messageField }}}
			{{{ sendButton }}}
		</form>
	</div>
	{{{addUserToChatPopUp}}}
	{{{kickUserFromChatPopUp}}}
	{{{deleteChatPopUp}}}
</div>
