<div id="active-chat-window" class="active-chat-window">
	<div class="messages-field" id="messages-field">
		<div class="messages-field-container" id="messages-field-container">
		{{#if messagesListLen}}
			{{#each messageList}}
				{{{messageList}}}
			{{/each}}
		{{/if}}
		</div>
	</div>
	<div class="typing-field">
		<p><img src="/images/skrepka.png" alt="Добавить вложение" /></p>
		<form action="#" id="send-message-form">
			{{{ messageField }}}
			{{{ sendButton }}}
		</form>
		{{{addUserToChatPopUp}}}
		{{{kickUserFromChatPopUp}}}
		{{{deleteChatPopUp}}}
	</div>
</div>
