<div class="chat-contact{{#if isSelectedChat}} selected{{/if}}" id="chat-{{{chatID}}}">
	<div class="chat-contact__avatar">
		<img src="{{{avatarUrl}}}" />
	</div>
	<div class="chat-contact__body">
		<div class="user-name">{{title}}</div>
		<div class="user-last-action">{{chatMessage}}</div>
	</div>
	<div class="chat-contact__events">
		<div class="events-date">{{time}}</div>
		<div class="events-count">{{unread_count}}+</div>
	</div>
</div>
