<main class="login-container centeres-container">
	<div class="login-window">
		<h2>Регистрация</h2>
		<form id="register-form" action="">
			<div class="login-window__input-container">
				{{{ emailField }}}
			</div>
			<div class="login-window__input-container">
				{{{ loginField }}}
			</div>
			<div class="login-window__input-container">
				{{{ firstNameField }}}
			</div>
			<div class="login-window__input-container">
				{{{ secondNameField }}}
			</div>
			<div class="login-window__input-container">
				{{{ phoneField }}}
			</div>
			<div class="login-window__input-container">
				{{{ passwordField }}}
			</div>
			<div class="login-window__input-container">
				{{{ passwordRepeatField }}}
			</div>
			<div class="login-window__input-container">
				{{{ submitButton }}}
			</div>
		</form>
		<div class="login-window__input-container register-link">
			{{{ linkBack }}}
		</div>
	</div>
</main>
