<a
	href="{{href}}"
	class="i-link{{# if class }} {{class}}{{/ if }}{{# if disabled }} disabled{{/ if }}"
	data-page="{{datapage}}"
	{{# if disabled }}data-disabled="disabled"{{/ if }}
>
{{#if image }}<img src="{{image}}" alt="{{alt}}" />{{else}}{{text}}{{/if}}
</a>
