<div class="input-field">
	<label class="input-field__body">
		<input id="{{id}}" type="{{type}}" placeholder="{{placeholder}}" value="{{value}}" class="input-element" autocomplete="off">
	</label>
	<div class="input-field__error{{#if error}} error{{/if}}">
		<div class="error-message">
			{{#if error}}{{error}}{{/if}} &nbsp;
		</div>
	</div>
</div>

















