<div class="input-field">
	<label class="input-field__body">
		<input id="{{id}}" type="{{type}}" placeholder="{{placeholder}}" value="{{value}}" class="input-element" autocomplete="off">
	</label>
	<div class="input-field__error">
		<div class="error-message {{error}}">
			Ошибка
		</div>
	</div>
</div>

















