<main class="profile-page">
	<div class="profile-page__left-column">
		{{{ roundButton }}}
	</div>
	<div class="profile-page__right-column">
		<div class="change-profile-form">
			{{{profileAvatar}}}
			{{{avatarField}}}{{{avatarUploadButton}}}
			<form name="profile-form" id="change-profile-form">
				<ul class="profile__userdata-container">
					{{#each userDataFields}}
						<li class="userdata__item">
							<div class="userdata__item-field">{{{userDataFields}}}</div>
						</li>
					{{/each}}
				</ul>
				<ul class="profile__actions-container">
					<li class="actions__item">{{{ changeDataLink }}}{{{ saveDataLink }}}</li>
				</ul>
			</form>
			<form name="profile-form" id="change-password-form">
				<ul class="profile__userdata-container">
					{{#each passwordDataFields}}
						<li class="userdata__item">
							<div class="userdata__item-field">{{{passwordDataFields}}}</div>
						</li>
					{{/each}}
				</ul>
				<ul class="profile__actions-container">
					<li class="actions__item">{{{ changePasswordLink }}}{{{ savePasswordLink }}}</li>
				</ul>
				<ul class="profile__actions-container">
					<li class="actions__item">{{{ logoutLink }}}</li>
				</ul>
			</form>
		</div>
	</div>
</main>
