<div id="sidebar" class="sidebar">
  <div class="sidebar__header">
    {{{createChatButton}}}{{{viewProfile}}}
  </div>
  {{{searchField}}}
  <div class="chats-list">
    {{#each chatList}}
      {{{chatList}}}
    {{/each}}
  </div>
	{{{addChatPopUp}}}
</div>
